/*美化upload三部曲*/
.upload-img {
    position: relative;
    background: rgba(252, 127, 173, 0.6);
    border-radius: 4px;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    text-indent: 0;
    line-height: 20px;
    width: 50%;
}

.upload-img input {
    position: absolute;
    font-size: 100px;
    opacity: 0;
    left: 0;
    cursor: pointer;
    height: 100%;
}

.upload-img:hover {
    background: #AADFFD;
    text-decoration: none;
    cursor: pointer;
}

.upload-div-bg label {
    color: white;
    font-weight: bold;
}

/*封面样式*/
#coverPre {
    display: flex;
    align-items: center;
}

#coverPre img {
    width: 164px;
    border-radius: 82px;
}


