.out-box{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.margin-top-1em{
    margin-top: 1em;
}

/*表单*/
.form-box{
    padding: 3em;
}

.form-title{
    text-align: center;
}

/*验证码*/
.verify-code-box{
    display: flex;
}

.verify-code{
    height: 34px;
}

#verifyCode{
    cursor: pointer;
}

/*提交*/
.submit-box{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
