.com-public-list {
    padding: 0 6px 3px 6px;
    background-color: rgba(158, 158, 158, 0.2);
}

.com-public-list li {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    align-items: baseline;
    margin: 3px 0 3px 0;
}

.com-public-list li span {
    overflow: hidden;
    text-overflow: ellipsis;
}

.com-public-content {
    color: rgb(0, 0, 0);
}

.com-public-title {
    color: #FC7FAD;
}