/* ID选择器优先级比类选择器高，为了不让bootstrap覆盖 */

#headOut ul, #headOut li {
    list-style: none;
    margin: 0;
    padding: 0;
}

#headInRight a, #headInLeft a {
    text-decoration: none;
    color: white;
}

#headOut #headInLeft a {
    padding-left: 1em;
}

#headOut #headInRight a {
    padding-right: 1em;
}

#headOut {
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FC7FAD;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

#headInLeft {
    display: flex;
}

#headInRight {
    display: flex;
    align-items: center;
}

#headInRight img {
    width: 36px;
    border-radius: 36px;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}
