ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.jw-head-inRight a, .jw-head-inLeft a {
    text-decoration: none;
    color: white;
}

.jw-head-out .jw-head-inLeft a {
    padding-left: 1em;
}

.jw-head-out .jw-head-inRight a {
    padding-right: 1em;
}

.jw-head-out {
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FC7FAD;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.jw-head-inLeft {
    display: flex;
}

.jw-head-inRight {
    display: flex;
    align-items: center;
}
