.layui-tab{
    margin: 0 !important;
}

.subject-div{
    overflow: hidden;
}

.jwss-box-out{
    display: flex;
    justify-content: space-around;
    padding: 1em;
}

.iframe-content{
    width: 100%;
    height: 100%;
    border: none;
}

.iframe-content body{
    overflow: hidden;
}
