.com-public-paging{
    display: flex;
    width: 300px;
    justify-content: center;
    align-items: center ;
}

.com-public-paging input{
    width: 36px;
    height: 26px;
    margin: 3px 1px 3px 1px;
}

.page-selected{
    border: 1px solid #FC7FAD;
}

.page-no-select{
    border: 1px solid rgb(1, 184, 190);
}

.com-public-paging input:disabled{
    background-color: #8080805c;
    border:  1px solid rgb(1, 184, 190);
    color: rgb(1, 184, 190);
}