.com-public-label{
    margin-top: 3px;
    margin-bottom: 3px;
    display: flex;
    align-items: baseline;
}

.com-public-label-input{
    width: 64px;
    height: 24px;
    border-radius: 12px;
    outline-color: rgba(0, 0, 0, 0);
    padding-left: 3px;
    padding-right: 3px;
    border: 1px solid #FC7FAD;
}

.com-public-label label{
    color: gray;
    margin-left: 6px;
}

.com-public-label-button{
    width: 64px;
    height: 26px;
    border: none;
    color: white;
    border-radius: 12px;
    outline-color: rgba(0, 0, 0, 0);
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 6px;
    margin-right: 6px;
    background-color: #FC7FAD;
}