.my-button {
    color: rgb(255, 255, 255);
    border-radius: 3px;
    border: none;
    background-color: #FC7FAD;
    font-size: 14px;
    padding: 5px;
    margin-left: 6px;
    cursor: pointer;
    outline: none;
    transition: 200ms ease-in;
}

.do-not-use {
    width: 75px;
    height: 34px;
    color: rgba(255, 255, 255, 0.425);
    background-color: rgba(37, 36, 36, 0.671);
    border-radius: 3px;
    border-style: none;
    font-size: 12px;
    padding: 5px;
    margin-left: 6px;
    box-shadow: 0 1px 3px 0 #000000b9;
}

.my-button:hover {
    color: #e6fffb7a;
    background-color: #FC7FAD;
    opacity: 0.80;
    transition: 200ms ease-in;
}

.my-button:active {
    transition: 200ms ease-in;
    outline: none;
    border: 2px solid #FC7FAD;
    background-color: rgba(252, 127, 173, 0.87);
}

.my-button:focus {
    outline: none;
}
