.view-editor {
    background-color: #f5f5f5;
    padding: 3px 6px 0 6px;
    display: flex;
    flex-direction: column;
}

.com-bread a {
    color: #FC7FAD;
}

.com-bread cite {
    color: gray;
    text-decoration: none;
    margin-top: 1em;
}

.ae-input-title {
    width: 54.5%;
    height: 64px;
    font-weight: bold;
    font-size: 2em;
    caret-color: #FC7FAD;
    border-radius: 2px;
    border: 1px solid #FC7FAD;
    outline-color: rgba(252, 127, 173, 0.438);
    padding-left: 1em;
    padding-right: 1em;
}

.ae-input-Desc {
    width: 65.5%;
    height: 96px;
    font-size: 2em;
    caret-color: #FC7FAD;
    border-radius: 2px;
    border: 1px solid #FC7FAD;
    outline-color: rgba(252, 127, 173, 0.438);
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 1em;
}

/*美化upload三部曲*/
.upload-img {
    position: relative;
    display: flex;
    background: rgba(252, 127, 173, 0.3);
    border-radius: 4px;
    overflow: hidden;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
    justify-content: center;
    margin-top: 1em;
}

.upload-img input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

.upload-img:hover {
    background: #AADFFD;
    text-decoration: none;
}

.other-row {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.other-row-col-1 {
    margin-right: 1em;
}

.select-sort {
    height: 38px;
    border: 1px solid #FC7FAD;
    color: #FC7FAD;
    border-radius: 3px;
    font-size: 1em;
}

.tagsinput .tag {
    background: #FC7FAD;
}

.tagsinput .tag .tag-remove {
    color: white;
}

.button-row {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
}

.button-row button,#pBtn {
    width: 114px;
    height: 46px;
    color: rgb(255, 255, 255);
    border-radius: 3px;
    border: none;
    background-color: #FC7FAD;
    font-size: 16px;
    padding: 5px;
    cursor: pointer;
    outline: none;
    transition: 200ms ease-in;
}

.button-col {
    margin-right: 1em;
}

.button-row button:hover {
    color: #e6fffb7a;
    background-color: #FC7FAD;
    opacity: 0.80;
    transition: 200ms ease-in;
}

.button-row button:active {
    transition: 200ms ease-in;
    outline: none;
    border: 2px solid #FC7FAD;
    background-color: rgba(252, 127, 173, 0.87);
}

#editorDiv {
    margin-top: 1em;
}

#coverPre{
    display: flex;
    align-items: center;
}

#coverPre img{
    border-radius: 3px;
}

