.view-editor {
    background-color: #f5f5f5;
    padding: 3px 6px 0 6px;
    display: flex;
    justify-content: center;
}

.com-bread cite {
    color: gray;
    text-decoration: none;
    margin-top: 1em;
}

.ae-input-title {
    width: 99.5%;
    height: 64px;
    font-size: 2em;
    caret-color: #FC7FAD;
    border-radius: 2px;
    border: none;
    color: #FC7FAD;
    border-bottom: 2px solid #FC7FAD;
    outline-color: rgba(252, 127, 173, 0.438);
}

.ae-input-Desc {
    width: 100%;
    height: 96px;
    font-size: 1.6em;
    caret-color: #FC7FAD;
    border-radius: 2px;
    border: 2px solid #FC7FAD;
    outline-color: rgba(252, 127, 173, 0.438);
    margin-top: 1em;
}

/*美化upload三部曲*/
.upload-img {
    position: relative;
    background: rgba(252, 127, 173, 0.6);
    border-radius: 4px;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    text-indent: 0;
    line-height: 20px;
    margin-top: 1em;
}

.upload-img input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

.upload-img:hover {
    background: #AADFFD;
    text-decoration: none;
}

.select-sort {
    width: 100%;
    height: 38px;
    border: 2px solid #FC7FAD;
    color: #FC7FAD;
    border-radius: 3px;
    font-size: 1em;
    margin-top: 6px;
    outline-color: #FC7FAD;
}

.tags-input .tag {
    background: #FC7FAD;
}

.tagsinput .tag .tag-remove {
    color: white;
}

.button-row {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    padding: 1em;
}

.button-row button, #pBtn, #preBtn {
    width: 100%;
    height: 46px;
    margin-top: 6px;
}

.button-col {
    margin-right: 1em;
}

/*文章列表样式*/
.article-list {
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 1em;
    justify-content: space-between;
}

/*编辑器样式*/
#editorDiv {
    margin-top: 1em;
}

.w-e-text-container {
    height: 640px !important;
}

/*封面样式*/
#coverPre {
    display: flex;
    align-items: center;
}

#coverPre img {
    border-radius: 3px;
}


